
# --------- General Settings ----------

device = 0
task = detection
dataset = coco

dataset_path = ./data/coco-2017/

batch_size = 1
img_size = 320
model = yolov3

# -------- Quantization Settings -------

mode = default
weight_bit_width = 4
activation_bit_width = 4