
# --------- General Settings ----------

device = 0
task = classification
dataset = imagenet

dataset_path = data/imagenet/ILSVRC2012_img_val.lmdb
# For local machine:   data/imagenet/ILSVRC2012_img_val.lmdb
# For virtual machine: /home/gaoyc/data/ILSVRC2012

batch_size = 128
img_size = 224
model = resnet18
model_path = ''

# -------- Quantization Settings -------

mode = squant
weight_bit_width = 4
activation_bit_width = 4